.SoundboardContent {
    height: 100%;
    max-width: 100%;
    display: grid;
}

.SoundboardImageContainer {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.SoundboardImage {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 90%;
    max-height: 90%;
}